sudo: required
services:
  - docker

before_install:
    - docker build -t omar/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run omar/react-test npm test -- --coverage


after_script:
    - docker build -t omar/multi-client ./client
    - docker build -t omar/multi-nginx ./nginx
    - docker build -t omar/multi-server ./server
    - docker build -t omar/multi-worker ./worker

    - echo "$DOCKER_PASSWORD" | docker ogin -u "$DOCKER_NAME" --password-stdin
    - docker push omar/multi-client
    - docker push omar/multi-nginx
    - docker push omar/multi-server
    - docker push omar/multi-worker